section.footer
    .container 
        .footer-top 
            .footer-column 
                a(href="index.html").footer-heading.footer-heading--logo MoGo 
                p.footer-desc.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim alias saepe, modi sed dolore sit odio ab omnis provident labore quos, commodi voluptatibus, corporis eveniet! Consectetur ducimus laudantium odit facere.
                p.footer-follower <strong>15k</strong> followers
                .footer-social 
                    span.text Follow Us: 
                    .footer-social-list 
                        a.footer-social-icon(href="#")
                            i.fab.fa-facebook
                        a.footer-social-icon(href="#")
                            .fab.fa-twitter
                        a.footer-social-icon(href="#")
                            i.fab.fa-instagram
                        a.footer-social-icon(href="#")
                            i.fab.fa-pinterest
                        a.footer-social-icon(href="#")
                            i.fab.fa-youtube


                //- chú ý form  cần thêm action ! lý do lỗi sinh ra link "?""     
                form.footer-form(action="#")
                    input(type="email" placeholder="Your Email").footer-form-input 
                    button.footer-form-button Subsribe
            .footer-column 
                h3.footer-heading Blog
                a(href="#").footer-blog 
                    img.footer-blog-image(src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80")
                    .footer-blog-info 
                        h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        span.footer-blog-data.text.text--light Jane 9, 2020
                a(href="#").footer-blog 
                    img.footer-blog-image(src="https://images.unsplash.com/photo-1547394765-185e1e68f34e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80")
                    .footer-blog-info 
                        h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        span.footer-blog-data.text.text--light Jane 9, 2020
                a(href="#").footer-blog 
                    img.footer-blog-image(src="https://images.unsplash.com/photo-1516542076529-1ea3854896f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1051&q=80")
                    .footer-blog-info 
                        h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit consectetur adipisicing elit.
                        span.footer-blog-data.text.text--light Jane 9, 2020
            .footer-column 
                h3.footer-heading Intergram
                .footer-images 
                    .footer-image 
                        img(src="https://images.unsplash.com/photo-1547082299-de196ea013d6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80")
                    .footer-image 
                        img(src="https://images.unsplash.com/photo-1527689368864-3a821dbccc34?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80")
                    .footer-image 
                        img(src="https://images.unsplash.com/photo-1548092372-0d1bd40894a3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80")
                    .footer-image 
                        img(src="https://images.unsplash.com/photo-1560457079-9a6532ccb118?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80")
                    .footer-image 
                        img(src="https://images.unsplash.com/photo-1544731612-de7f96afe55f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80")
                    .footer-image 
                        img(src="https://images.unsplash.com/photo-1548092372-0d1bd40894a3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80")
                    .footer-image 
                        img(src="https://images.unsplash.com/photo-1547082299-de196ea013d6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80")
                    .footer-image 
                        img(src="https://images.unsplash.com/photo-1527689368864-3a821dbccc34?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80")
                    .footer-image 
                        img(src="https://images.unsplash.com/photo-1547082299-de196ea013d6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80")
                a(href="#").footer-images-more.text.text--light View more photos
        .footer-bottom &copy: 2020 Mogo free PSD template by <span> Laaqiq </span>