section.people 
    .container 
        +blockBox("happy Clienta", "what people say" )
        ul.people-list  
            +peopleItem
            +peopleItem
            +peopleItem
            +peopleItem
         
            