section.quote   
    .container  
        .quote-container
            
            //- .quote-content
            //-     .quote-icon 
            //-         img(src= "../images/img-quote.png" )
            //-     .quote-info 
            //-         p.quote-desc Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat rem totam veritatis doloremque incidunt fugit, nobis corporis voluptatem quod, porro impedit rerum! Dicta voluptate optio qui, hic inventore quis soluta! 
            //-         span.quote-author Joneeeeeeee
           


            //- code pug thay cho đoạn css ở trên
            +quotecontent
            +quotecontent
            +quotecontent
