section.service 
    .container 
        +blockBox("we work width", "amazing services")
        .service-container
            .service-list
                +serviceItem("../images/img-service-icon1.png","Photography fgffffffffffffffff gggggggggggggggggs ggggggggggggggggggggggg","Lorem ipsum dolor sit amet consectetur adipisicing elit.") 
                +serviceItem("../images/img-service-icon2.png","web desgin","Lorem ipsum dolor sit amet consectetur adipisicing elit ") 
                +serviceItem("../images/img-service-icon3.png","creativity","Lorem ipsum dolor sit amet consectetur adipisicing elit.") 
            .service-list
                +serviceItem("../images/img-service-icon4.png","SEO","Lorem ipsum dolor sit amet consectetur adipisicing elit.") 
                +serviceItem("../images/img-service-icon5.png","css/html","Lorem ipsum dolor sit amet consectetur adipisicing elit.") 
                +serviceItem("../images/img-service-icon6.png","digital","Lorem ipsum dolor sit amet consectetur adipisicing elit.") 
            
          
            
            