section.quote   
    .container  
        .quote-container
            

            //- chú ý: điều kiện True không có dấu ""
            +quotecontent("https://images.unsplash.com/photo-1485178575877-1a13bf489dfe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=991&q=80", true)
            +quotecontent("https://images.unsplash.com/photo-1462804993656-fac4ff489837?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80", true, "Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quasi fugit maxime nulla vel? Quam explicabo illo eos officia voluptatibus rerum minus reprehenderit laborum quidem, qui temporibus velit nisi vitae!","Lion Mesi")
            +quotecontent("https://images.unsplash.com/photo-1473707669572-40d832255b5e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80", true)
            
