section.wedo
    .container 
        +blockBox("Service","what we do","Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum error maiores tempora deserunt rem ducimus pariatur, impedit excepturi? Atque accusantium vitae modi est temporibus doloribus voluptates magni laboriosam, accusamus nihil?")
        .wedo-container
            img(src="../images/img-wedo-cuong.png").wedo-image
            //- accordion
            .wedo-content
                +wedoItem("../images/img-wedo-icon1.png","Photography","orem ipsum, dolor sit amet consectetur adipisicing elit. Culpa corporis quis quibusdam aperiam soluta corrupti aliquam voluptate ut quos? Dolores praesentium asperiores omnis? Reprehenderit facere, iste doloribus eaque optio sequi? dolor sit amet consectetur adipisicing elit. Culpa corporis quis quibusdam aperiam soluta corrupti aliquam voluptate ut quos? Dolores praesentium asperiores omnis? Reprehenderit facere, iste doloribus eaque optio sequi?","is-active")
                //- .wedo-item.is-active
                //-     .wedo-item-header 
                //-         img(src="../images/img-wedo-icon1.png").wedo-item-icon
                //-         h3.wedo-item-title Photography Photographyaaaaaaaaaa Photography Photography
                //-         i.fal.fa-angle-down.wedo-item-arow
                //-     .wedo-item-content
                //-         .wedo-item-text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa corporis quis quibusdam aperiam soluta corrupti aliquam voluptate ut quos? Dolores praesentium asperiores omnis? Reprehenderit facere, iste doloribus eaque optio sequi? dolor sit amet consectetur adipisicing elit. Culpa corporis quis quibusdam aperiam soluta corrupti aliquam voluptate ut quos? Dolores praesentium asperiores omnis? Reprehenderit facere, iste doloribus eaque optio sequi?
                +wedoItem("../images/img-wedo-icon1.png","Photography","orem ipsum, dolor sit amet consectetur adipisicing elit. Culpa corporis quis quibusdam aperiam soluta corrupti aliquam voluptate ut quos? Dolores praesentium asperiores omnis? Reprehenderit facere, iste doloribus eaque optio sequi? dolor sit amet consectetur adipisicing elit. Culpa corporis quis quibusdam aperiam soluta corrupti aliquam voluptate ut quos? Dolores praesentium asperiores omnis? Reprehenderit facere, iste doloribus eaque optio sequi?")
                +wedoItem("../images/img-wedo-icon1.png","Photography","orem ipsum, dolor sit amet consectetur adipisicing elit. Culpa corporis quis quibusdam aperiam soluta corrupti aliquam voluptate ut quos? Dolores praesentium asperiores omnis? Reprehenderit facere, iste doloribus eaque optio sequi? dolor sit amet consectetur adipisicing elit. Culpa corporis quis quibusdam aperiam soluta corrupti aliquam voluptate ut quos? Dolores praesentium asperiores omnis? Reprehenderit facere, iste doloribus eaque optio sequi?")
                         
        
    
