.story{
    padding: 6rem 0;
    background-color: #fff;
    &-list{
        @include flexbox(stretch, space-between);
    }
    &-item{
        width:calc(33.33% - 2rem);
    }

    &-media {
        position: relative;
        margin-bottom: 2rem;
    }
    &-image{
        @include size(100%, 24rem);
        object-fit: cover;
    }

    &-date{
        @include bg($third-color);
        padding: 1.5rem 2rem;
        @include flexbox(center, center, column);
        color: white;
        position: absolute;
        left: -1rem;
        bottom: 1rem;
        z-index: 2;
        &-number{
            font-weight: bold;
            font-size: 3rem;
        }
        &-text{
            color: white;
        }

   
    }

    &-title{
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 2rem;
        line-height: 1.4;
    }
    &-desc{
        font-style: normal;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        border-bottom: 1px solid $color-border;
    }

    &-meta{
        @include flexbox(center);
    }

    &-meta-item{
        margin-right: 2rem;
    }

    &-meta-icon{
        color:$third-color;
        margin-right: 5px;
    }

    @include maxWidth(1023px){
        padding: 5rem 0;
        &-image{
            height: 20rem;
        }

        &-date{
            padding: 1rem 1.5rem;
        }

        &-title{
            font-size: 1.2rem;
        }
        &-desc{
            font-size: 1.3rem;
        }
        
        // chú ý dùng textclamp thì padding xuống dòng bị xấu nên tạo 1 div( bên pug) bao .story-date lại
        &-desc-inner{
            @include textClamp(4);
            
        }
    }

    @include maxWidth(767px){
        &-list{
            display: block;
        }

        &-item{
            width: 100%;
            margin-bottom: 2rem;
        }

        &-date{
            bottom: 5px;
            left: -5px;
        }

        &-image{
            height:25rem ;
            object-fit: cover;
        }
    }

}

.map{
    padding: 6rem;
    background: linear-gradient(to bottom, rgb(129, 129, 129), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url("../images/img-map.png") no-repeat center/cover;
    &-content{
        @include flexbox(center,center,column);
    }

    &-heading{
        position: relative;
        font-size: 2.4rem;
        font-weight: bold;
        color: $primary-color;
        padding-bottom: 2rem;
        text-transform: uppercase;
        margin-top: 1rem;

        &::after{
            content: "";
            @include size(6.5rem, 4px);
            @include bg($primary-color);
            @include absoluteCenter();
            bottom: 0;
        }
    }
}